.blogMain {
    margin-top: 100px;
}

/*.blogMain .divBlog-post {
    background-color: #eeeeee;
    border: 2px solid #000;
    margin: 0 10px 20px 10px;
    padding: 20px;
    border-radius: 20px; /* Rundet alle vier Ecken um 10 Pixel */
/*}*/

.blogMain .divText {
    flex: 1;
    /*flex: 1; /* Der Text nimmt den verfügbaren Platz ein */
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 20px; /* Fügen Sie Platz um den Text hinzu */
    border: 2px solid #000;
}

.blogMain .divImage {
    flex: 1;
    margin-left: 5px;
    margin-bottom: 10px;
    height: auto; /* Die Höhe des Bildes passt sich automatisch an */
    display: block; /* Das Bild wird als Blockelement angezeigt */
}

.blogMain .imgBienenBild {
    width: 100%;
    height: auto;
    border: 2px solid #000;
    border-radius: 20px; /* Rundet alle vier Ecken um 10 Pixel */
}

.blogMain .divTextAndImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.blogMain .pSource {
    font-size: 12px;
    color: #666;
}

.blogMain .divParagraph {
    margin-bottom: 10px;
    border: 2px solid #000;
    padding: 10px;
}
